<h1>Welcome to Odin Flight Booker</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.search_field :query %>
  <%= form.submit "Search" %>
  
  <br>

  <h2>Departure airports</h2>
  <%= select_tag(:departure_code, options_for_select(@departure_airport_options)) %>


  <h2>Arrival airports</h2>
  <%= select_tag(:arrival_code, options_for_select(@arriving_airport_options)) %>

  <h2>Flight dates</h2>
  <%= select_tag(:date, options_for_select(@flight_date_options)) %><br>

  <h2>Number of passengers</h2>
  
  <%= select_tag(:num_ticket, options_for_select([1, 2, 3, 4])) %>

  <p> <%= @test %> </p>
  <p> <%= @departure_code.class %> </p>


<% end %>




