<h1>Create a new booking</h1>
<p>Flight ID: <%= @flight_id %></p>
<p>Departure Airport: <%= @flight_object.departure_airport.name %></p>
<p>Arrival Airport: <%= @flight_object.arrival_airport.name %></p>
<p>Date choosed: <%= @flight_object.start_datetime %></p>
<p>Number of passengers: <%= @number_of_passengers %></p>

<%= form_with model: @booking do |booking_form| %>
  <%= booking_form.date_field :departure_date %>
<%= @booking.passengers.size %><br>

  Passengers:
  <ul>
    <%= booking_form.fields_for :passengers do |passengers_form| %>
      <li>
        <%= passengers_form.label :name %>
        <%= passengers_form.text_field :name %>

        <%= passengers_form.label :email %>
        <%= passengers_form.email_field :email %>
      </li>
    <% end %>
  </ul>

  
  <%= booking_form.submit "Confirm Booking" %>
<% end %>
